/*
wrapper
-------------------------------------------------- */

.exhibit {
  width: 100%;
  height: var(--wall-height);
  overflow-x: scroll;
  overflow-y: hidden;
  direction: rtl;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    height: 0.25em;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}

.exh-room {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  width: 2000vw;
  height: var(--wall-height);
  direction: ltr;
}

/*
wall
-------------------------------------------------- */
.exh-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  position: relative;
}

.w-100 {
  width: calc(var(--wall-size) * 1.2);
}

.w-120 {
  width: calc(var(--wall-size) * 1.3);
}

.w-160 {
  width: calc(var(--wall-size) * 1.8);
}

.w-200 {
  width: calc(var(--wall-size) * 2.2);
}

.w-250 {
  width: calc(var(--wall-size) * 2.7);
}

.w-300 {
  width: calc(var(--wall-size) * 3.2);
}

.w-400 {
  width: calc(var(--wall-size) * 4.2);
}

.w-500 {
  width: calc(var(--wall-size) * 5.2);
}

.exhibit .exh-wall.w-100:first-child {
  width: calc(var(--wall-size) * 1);
}


/*
grid
-------------------------------------------------- */

.exh-grid {
  width: 100%;
  height: calc(100% - 4em * 2);
  display: grid;
  gap: 0.25em;
  margin: auto;
}

.exh-grid.col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.exh-grid.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.exh-grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.exh-grid.col-4 {
  grid-template-columns: repeat(4, 1fr);
}


.exh-grid.row-1 {
  grid-template-rows: repeat(1, 1fr);
}

.exh-grid.row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.exh-grid.row-3 {
  grid-template-rows: repeat(3, 1fr);
}

.exh-grid.row-4 {
  grid-template-rows: repeat(4, 1fr);
}


/*
image
-------------------------------------------------- */
.exh-frame {
  width: calc(100% - 4em * 2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.exh-frame.size-full {
  height: calc(100% - 4em * 2);
}

.exh-frame.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.exh-frame img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0;
  pointer-events: none;
}

.exh-frame.position-absolute img {
  object-fit: cover;
}

.exh-frame.size-full img {
  width: 100%;
  height: 100%;
}

.exh-frame.size-m img {
  width: 82%;
  height: 82%;
}

.exh-frame.size-s img {
  width: 64%;
  height: 64%;
}

.exh-frame.size-xs img {
  width: 40%;
  height: 40%;
}


.exh-frame.position-left-top img {
  object-position: left top;
}

.exh-frame.position-left-bottom img {
  object-position: left bottom;
}

.exh-frame.position-right-top img {
  object-position: right top;
}

.exh-frame.position-right-bottom img {
  object-position: right bottom;
}

.exh-frame.position-center-top img {
  object-position: center top;
}

.exh-frame.position-center-bottom img {
  object-position: center bottom;
}



.exh-frame figcaption {
  font-size: 9px;
}

.exh-frame figcaption p {
  margin: 0;
}


/*
text
-------------------------------------------------- */
.exh-text {}

.exh-box-text {
  width: calc(100% - 6em * 2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.exh-text-vertical {
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
}

.exh-uprightText {
  font-style: normal;
  text-combine-upright: all;
  -webkit-text-combine: all;
}

.exh-running-head {
  position: absolute;
  top: 4em;
  left: 2em;
  width: calc(100% - 2em * 2);
}



/*
border
-------------------------------------------------- */
.exh-border {
  display: inline-block;
  width: 1px;
  height: 5vh;
  margin: 2vh 0;
}