// White
.c-white {
  color: #F7F4F4;
}

.bkg-white {
  background-color: #F7F4F4;
}

// Gray
.c-off-gray {
  color: #D1D1D1;
}

.bkg-off-gray {
  background-color: #D1D1D1;
}

// Neon Orange
.c-neon-orange {
  color: #ff0402;
}

.bkg-neon-orange {
  background-color: #ff0402;
}