:root {
  // Colors
  --color-text: #363636;



  // Wall
  --wall-size: 100vw;
  --wall-height: 120vh;

  @media (width > 800px) {
    --wall-size: 520px;
    --wall-height: calc(var(--wall-size) * 18 / 9);
  }


}