---
const { title = "一七九" } = Astro.props;
---

<header class="the-header -g -fs_m">
  <p class="the-header_english"><a href="/">179</a></p>
  <p class="the-header_japanese -vt -ja-serif"><a href="/">一七九</a></p>
</header>
