---
// props
const { position = "bottom-left", color = "" } = Astro.props;

const positionClass = () => {
  switch (position) {
    case "bottom-left":
      return "bottom-left";
    case "bottom-right":
      return "bottom-right";
    case "top-left":
      return "top-left";
    case "top-right":
      return "top-right";
  }
};

const classList = `sheet-nombre ${positionClass()} -fs_xs-light -font-avenir`;
const colorStyle = color ? `color: ${color}` : "";
---

<p class={classList} style={colorStyle}>
  <slot />
</p>
