---
// props
const { img = "", bkg = "", color = "", themeVersion = 1 } = Astro.props;

const style = `--sheet-bkg-color: ${bkg}; color: ${color}`;
---

<section class={`sheet -theme-${themeVersion}`} style={style}>
  <slot />
</section>
