@import "typography.css";

.vt {
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
}

.np179_wrapper {
  width: 100%;
  overflow-x: auto;
}

.np179 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  margin: 0 0 25vh;
  gap: 0 1em;
  width: 100%;
}

.np179_title {
  width: calc(100% - 2em);
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0.15em 1em 0.5em;
  padding-bottom: 0.25em;
}

.np179_signature {
  font-size: 2em;
  font-feature-settings: "palt";
  letter-spacing: 0.15em;
}

.np179_signature .ls-xs {
  letter-spacing: -0.095em;
}

.np179_unit {
  height: 20em;
  font-size: 3vh;
  line-height: 1.8;
  padding-top: 1em;
  text-align: justify;
  hanging-punctuation: allow-end;

  @media (width < 800px) {
    font-size: 2.25vh;
    height: 44em;
    column-count: 2;
  }
}