html {
  overscroll-behavior: none;
}

body {
  scrollbar-width: none;
  overflow-y: hidden;
  overscroll-behavior-x: auto;
}

.-v {
  writing-mode: vertical-rl;
  max-height: 99.99svh;
  overflow-y: hidden;
  overscroll-behavior-y: none;

  :where(p) {
    font-feature-settings: "vchw";
    line-height: 1.6;
    text-align: justify;
    hanging-punctuation: allow-end;
  }
}

// Header
.-head {
}

.-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2svb;
  height: calc(var(--grid) * 8 + var(--grid-gap) * (8 - 1));

  &.-without_header {
    justify-content: flex-end;
  }
}

.-title_header {
  display: flex;
  justify-content: space-between;
  gap: 2svb;
  height: calc(
    var(--grid) * 8 + var(--grid-gap) * (8 - 1) + (var(--grid-margin) + 0.5svh)
  );
  padding-bottom: calc(var(--grid) * 3 + var(--grid-gap) * (3 - 1));
  position: relative;
  margin-inline-start: calc(-1 * (var(--grid-margin) + 0.5svh));
}

.-title_number {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: 0;
  flex-direction: column;
  line-height: 1.2;
  align-items: center;
  writing-mode: horizontal-tb;
  padding: 0 0.5rem;
}

.-header_label {
  height: calc(var(--grid) * 2 + var(--grid-gap) * (2 - 1));
  display: flex;
  justify-content: space-between;
}

.-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  height: calc(var(--grid) * 2 + var(--grid-gap) * (2 - 1));
  color: rgb(255 255 255 / 0.6);
  mix-blend-mode: difference;
  text-align: justify;
}
