.-fx_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.-fx_end {
  display: flex;
  align-items: flex-end;
}

.-fx_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.-fx_between_start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}