$MOBILE_WIDTH: 768px;
$GRID_NUMBER: 8;

:root {
  --grid-gap: 2svh;
  --grid-margin: 3svh;
  --grid: calc(((100svh - var(--grid-margin) * 2) - var(--grid-gap) * (8 - 1)) / 8);
  --base-font-size: 14;
  --rem: calc(1rem / var(--base-font-size));

  @media (max-width: $MOBILE_WIDTH) {
    --base-font-size: 12;
    --rem: calc(1rem / var(--base-font-size));
  }
}