---
import { type CollectionEntry, getCollection } from "astro:content";
import PageTemplate from "../../layouts/PageTemplate.astro";
import { render } from "astro:content";

import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("sandBox")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<PageTemplate title="すなば">
  {
    posts.map((post) => (
      <div>
        <a href={`/sand-box/${post.id}`}>
          <h3>{post.data.title}</h3>
          <p>
            <FormattedDate date={post.data.date} isShort={true} />
          </p>
        </a>
      </div>
    ))
  }
</PageTemplate>
