.sheet {
  aspect-ratio: 750/1280;
  background-color: var(--sheet-bkg-color);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1em;
  padding: 1em;

  @media (width < 768px) {
    width: 98svw;
    margin: 4svh auto;
  }
}

// 全体
.sheet *:not(.sheet-img, .sheet-nombre, .sheet-running-head) {
  position: relative;
  z-index: 2;
}

// 画像
.sheet-img {
  &.full {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

// タイトル
.sheet-title {
  &.-fs_xl {
    font-size: 4.5rem;
  }

  &.-fs_huge {
    font-size: 10rem;
  }
}

// キャプション
.sheet-caption {
  &.bottom-left,
  &.bottom-right {
    padding-bottom: 1em;
  }

  &.top-left,
  &.top-right {
    padding-top: 1em;
  }

  &.bottom-left,
  &.top-left {
    padding-left: 1em;
  }

  &.bottom-right,
  &.top-right {
    padding-right: 1em;
  }
}

// ノンブル
.sheet-nombre {
  display: inline-block;
  position: absolute;
  z-index: 2;

  &.bottom-left {
    bottom: 1em;
    left: 1em;
  }

  &.bottom-right {
    bottom: 1em;
    right: 1em;
  }
}

// 柱
.sheet-running-head {
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 2em;
  left: 1em;
  width: calc(100% - 2em);
}

.sheet-vertical {
  p {
    line-height: 1.8;
  }
}
