body {
  background-color: #111 !important;
}

.theme-202510 {
  padding-bottom: 20svh;
  width: 100svw;
  height: 100svh;
  position: relative;
  overflow: hidden;

  &::before {
    --background-scale: 1.2;
    --background-opacity: 0.2;
    --background-translate-y: 0;
    display: inline-block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 140%;
    background-color: #111;
    background: url("/img/photos/202510/L1017711.jpg") no-repeat center center /
      cover;
    scale: var(--background-scale);
    opacity: var(--background-opacity);
    translate: 0 var(--background-translate-y);
    filter: blur(4px) brightness(0.8);
    transition: scale 0.4s ease-out, opacity 0.4s ease-out,
      translate 0.4s ease-out;
  }

  @media screen and (max-width: 768px) {
    height: auto;
  }
}

.book {
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0);
  scrollbar-width: thin;

  @media screen and (max-width: 768px) {
    overflow-x: hidden;
  }

  &_inner {
    display: grid;
    grid-template-columns: repeat(var(--sheets), 1fr);
    --sheet-width: calc(750 * 94svh / 1280);
    --sheet-gap: 8svw;
    padding: 0 0 0 calc((100svw - var(--sheet-width)) / 2);
    width: calc(
      var(--sheets) * var(--sheet-width) + var(--sheet-gap) *
        (var(--sheets) - 1)
    );
    gap: var(--sheet-gap);

    @media (max-width: 768px) {
      --sheet-width: 98svw;
      --sheet-gap: 2svw;
      padding: 0 0 8svh;
      display: block;
      width: 100%;
    }
  }
}

.the-nav {
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;

  &_list {
    display: flex;
    gap: 1em;
    width: calc(var(--length) * 8em + (var(--length) - 1) * 1em);
    padding: 0 8svw 0 calc(50svw - 4em);
  }

  .nav-item {
    width: 8em;
    text-align: center;
    opacity: 0.4;
    transition: opacity 0.4s ease-out;
    color: #fff;

    &.is-active {
      opacity: 1;
    }
  }
}

.sheet {
  aspect-ratio: 750/1280;
  background-color: var(--sheet-bkg-color);
  border-radius: 16px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 98svw;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1em;
  padding: 1em 1em;

  border: 1px solid rgb(34, 34, 34);

  @media screen and (min-width: 769px) {
    height: 94svh;
    margin: 3svh auto 0;
  }

  @media screen and (max-width: 768px) {
    margin: 6svh auto 0;
  }
}

// 全体
.sheet *:not(.sheet-img, .sheet-nombre, .sheet-running-head) {
  position: relative;
  z-index: 2;
}

// 画像
.sheet-img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  &.full {
    width: 100%;
    height: 100%;
  }

  &.size-125 {
    width: 125%;
    height: 125%;
  }

  &.frame {
    padding: 1em;
    width: 100%;
    height: 100%;
    border-radius: calc(16px + 1em);
  }
}

// タイトル
.sheet-title {
  transform-origin: center center;

  &.-fs_xl {
    font-size: 4.5rem;
  }

  &.-fs_huge {
    font-size: 10rem;
  }

  &.rotate-left-bottom,
  &.rotate-right-bottom {
    position: absolute;
    bottom: -0.5em;
    left: 0;
    rotate: -90deg;
    transform-origin: left top;
    grid-row: auto;
    grid-column: auto;
    white-space: nowrap;
  }

  &.rotate-right-bottom {
    left: 88%;
  }
}

// キャプション
.sheet-caption {
  &.bottom-left,
  &.bottom-right {
    padding-bottom: 0em;
  }

  &.top-left,
  &.top-right {
    padding-top: 0em;
  }

  &.bottom-left,
  &.top-left {
    padding-left: 0em;
  }

  &.bottom-right,
  &.top-right {
    // padding-right: 1em;
  }

  &.background {
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.025);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  &.padding {
    padding: 0 1em 2em;
  }
}

// ノンブル
.sheet-nombre {
  display: inline-block;
  position: absolute;
  z-index: 2;
  font-feature-settings: "palt";

  &.bottom-left {
    bottom: 1em;
    left: 1em;
  }

  &.bottom-right {
    bottom: 1em;
    right: 1em;
  }
}

// 柱
.sheet-running-head {
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);

  &.top-center {
    top: 1em;
    left: 1em;
    width: calc(100% - 2em);
  }
  &.top-left {
    top: 1em;
    left: 1em;
    width: calc(100% - 2em);
  }

  &.bottom-center {
    top: auto;
    bottom: 1em;
    left: 1em;
    width: calc(100% - 2em);
  }

  &.left-center {
    top: 0;
    left: 0.75em;
    rotate: 90deg;
    transform-origin: left top;
    width: 98svh;
    translate: 1em 0;
  }

  &.right-center {
    top: 0;
    left: auto;
    right: 0.75em;
    rotate: 90deg;
    transform-origin: right center;
    width: 98svh;
    translate: -0.25em 98svh;
  }
}

.sheet-vertical {
  &:not(.sheet-column) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  p {
    line-height: 1.8;
  }

  &.-align-left {
    justify-content: flex-end;
  }

  &.-align-right {
    justify-content: flex-start;
  }

  &.-align-center {
    justify-content: center;
  }
}

.sheet-column {
  columns: 2 auto;

  &.-column-size-auto {
    columns: auto auto;
  }

  &.-column-number-2 {
    columns: 2 auto;
  }

  &.-column-number-3 {
    columns: 3 auto;
  }

  &.-column-number-4 {
    columns: 4 auto;
  }

  &.-column-number-5 {
    columns: 5 auto;
  }

  &.-column-number-6 {
    columns: 6 auto;
  }
}

.align-right,
.-align-right {
  text-align: right;
}

.align-left,
.-align-left {
  text-align: left;
}

.align-center,
.-align-center {
  text-align: center;
}

.color-invert {
  mix-blend-mode: difference;
}

.-lh-12 {
  line-height: 1.2;
}

.-lh-14 {
  line-height: 1.4;
}

.-lh-16 {
  line-height: 1.6;
}

.-lh-18 {
  line-height: 1.8;
}
