body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.-fs,
.-fs_n {
  font-size: 1rem;
}

.-fs_xxs {
  font-size: 0.5625rem;
  scale: 0.95;
  transform-origin: top left;

  &.-align-right {
    transform-origin: top right;
  }

  &.-align-center {
    transform-origin: top center;
  }

  &.-align-left {
    transform-origin: top left;
  }
}

.-fs_xs {
  font-size: 0.6875rem;
  font-weight: 300;
  letter-spacing: 0.04em;

  @media screen and (max-width: 768px) {
    font-size: 1.4svh;
  }
}

.-fs_s {
  font-size: 0.875rem;
}

.-fs_m {
  font-size: 1.5rem;
}

.-fs_l {
  font-size: 2.4rem;
  line-height: 1;
}

.-fs_xl {
  font-size: 3.4rem;
  line-height: 1;
}

.-fs_huge {
  font-size: 10rem;
}

// テキスト寄せ
.-text-justify {
  text-align: justify;
}

.-text-center {
  text-align: center;
}

.-text-left {
  text-align: left;
}

.-text-right {
  text-align: right;
}

// 字間
.-ls-s {
  letter-spacing: 0.04em;
}

.-ls-m {
  letter-spacing: 0.24em;
}

.-ls-l {
  letter-spacing: 0.62em;
}

.-ja-serif {
  font-family: var(--base-serif-font);
  font-weight: var(--base-serif-font-weight);
  font-style: var(--base-serif-font-style);
}

.-font-heitai {
  line-height: 1;
  scale: 1.79 0.95;
  transform-origin: center top;
}

.-en-serif {
  font-family: var(--base-en-serif-font);
  font-weight: var(--base-en-serif-font-weight);
  font-style: var(--base-en-serif-font-style);
}

.-vt {
  writing-mode: vertical-rl;
  font-feature-settings: "vpal";
}

.-font-signature {
  font-family: "lindsey-signature", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.-font-norman-regular {
  font-family: norman-variable, sans-serif;
  font-variation-settings: "wght" 520;
}

.-font-norman-bold {
  font-family: norman-variable, sans-serif;
  font-variation-settings: "wght" 700;
}

.-font-norman-fat {
  font-family: norman-variable, sans-serif;
  font-variation-settings: "wght" 800;
}

.-color-difference {
  mix-blend-mode: difference;
}

.-fw-normal {
  font-weight: 400;
}

.-fw-600 {
  font-weight: 600;
}

.-fw-700 {
  font-weight: 700;
}

.-fw-800 {
  font-weight: 800;
}

.-fw-900 {
  font-weight: 900;
}
