---

---

<script is:inline>
  (function (d) {
    var config = {
        kitId: "dkw1fqv",
        scriptTimeout: 3000,
        async: true,
      },
      h = d.documentElement,
      t = setTimeout(function () {
        h.className =
          h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
      }, config.scriptTimeout),
      tk = d.createElement("script"),
      f = false,
      s = d.getElementsByTagName("script")[0],
      a;
    h.className += " wf-loading";
    tk.src = "https://use.typekit.net/" + config.kitId + ".js";
    tk.async = true;
    tk.onload = tk.onreadystatechange = function () {
      a = this.readyState;
      if (f || (a && a != "complete" && a != "loaded")) return;
      f = true;
      clearTimeout(t);
      try {
        Typekit.load(config);
      } catch (e) {}
    };
    s.parentNode.insertBefore(tk, s);
  })(document);
</script>

<article class="tsukushi-old">
  <section class="wrapper">
    <p>
      このサイトは文字だけで構成してみようという取り組みです。私はWebデザイナーで、いつもは、パッと見でもわかりやすく、直感的にも伝わるサイトづくりを心がけていますが、タイポグラフィに全振りして、新聞のような文字だけのページを作ってみたくなりました。
    </p>
    <p>
      webは本当にいろいろな取り組みがされてきたと思いますが、意外にもテキストに全振りしている例は少ないかもしれません。テキストだけのページはあります。ただ、テキストの美しさみたいなところにこだわったサイトは少ない。
    </p>
    <p>
      先日、「文字」という本を読んでいて、このフォントの作者である〇〇さんの話を読みました。改めて筑紫書体のこだわり、そしてバランスの美しさを実感し、その中でもオールド書体の流れるような「かな」の雰囲気は素敵だと思いました。
    </p>
    <p>段組も取り入れて、果たしてどのように見えていくのか。</p>
    <p>
      その中山から、少しはなれた山の中に、「ごん狐」という狐がいました。ごんは、一人ぼっちの小狐で、しだの一ぱいしげった森の中に穴をほって住んでいました。そして、夜でも昼でも、あたりの村へ出てきて、いたずらばかりしました。はたけへ入って芋をほりちらしたり、菜種がらの、ほしてあるのへ火をつけたり、百姓家の裏手につるしてあるとんがらしをむしりとって、いったり、いろんなことをしました。
    </p>
    <p>
      或秋のことでした。二、三日雨がふりつづいたその間、ごんは、外へも出られなくて穴の中にしゃがんでいました。雨があがると、ごんは、ほっとして穴からはい出ました。空はからっと晴れていて、百舌鳥の声がきんきん、ひびいていました。
    </p>
    <p>
      ごんは、村の小川の堤まで出て来ました。あたりの、すすきの穂には、まだ雨のしずくが光っていました。川は、いつもは水が少ないのですが、三日もの雨で、水が、どっとましていました。ただのときは水につかることのない、川べりのすすきや、萩の株が、黄いろくにごった水に横だおしになって、もまれています。ごんは川下の方へと、ぬかるみみちを歩いていきました。
    </p>
    <p>
      ふと見ると、川の中に人がいて、何かやっています。ごんは、見つからないように、そうっと草の深いところへ歩きよって、そこからじっとのぞいてみました。
    </p>
    <p>
      その中山から、少しはなれた山の中に、「ごん狐」という狐がいました。ごんは、一人ぼっちの小狐で、しだの一ぱいしげった森の中に穴をほって住んでいました。そして、夜でも昼でも、あたりの村へ出てきて、いたずらばかりしました。はたけへ入って芋をほりちらしたり、菜種がらの、ほしてあるのへ火をつけたり、百姓家の裏手につるしてあるとんがらしをむしりとって、いったり、いろんなことをしました。
    </p>
    <p>
      或秋のことでした。二、三日雨がふりつづいたその間、ごんは、外へも出られなくて穴の中にしゃがんでいました。雨があがると、ごんは、ほっとして穴からはい出ました。空はからっと晴れていて、百舌鳥の声がきんきん、ひびいていました。
    </p>
    <p>
      ごんは、村の小川の堤まで出て来ました。あたりの、すすきの穂には、まだ雨のしずくが光っていました。川は、いつもは水が少ないのですが、三日もの雨で、水が、どっとましていました。ただのときは水につかることのない、川べりのすすきや、萩の株が、黄いろくにごった水に横だおしになって、もまれています。ごんは川下の方へと、ぬかるみみちを歩いていきました。
    </p>
    <p>
      ふと見ると、川の中に人がいて、何かやっています。ごんは、見つからないように、そうっと草の深いところへ歩きよって、そこからじっとのぞいてみました。
    </p>
    <p>
      その中山から、少しはなれた山の中に、「ごん狐」という狐がいました。ごんは、一人ぼっちの小狐で、しだの一ぱいしげった森の中に穴をほって住んでいました。そして、夜でも昼でも、あたりの村へ出てきて、いたずらばかりしました。はたけへ入って芋をほりちらしたり、菜種がらの、ほしてあるのへ火をつけたり、百姓家の裏手につるしてあるとんがらしをむしりとって、いったり、いろんなことをしました。
    </p>
    <p>
      或秋のことでした。二、三日雨がふりつづいたその間、ごんは、外へも出られなくて穴の中にしゃがんでいました。雨があがると、ごんは、ほっとして穴からはい出ました。空はからっと晴れていて、百舌鳥の声がきんきん、ひびいていました。
    </p>
    <p>
      ごんは、村の小川の堤まで出て来ました。あたりの、すすきの穂には、まだ雨のしずくが光っていました。川は、いつもは水が少ないのですが、三日もの雨で、水が、どっとましていました。ただのときは水につかることのない、川べりのすすきや、萩の株が、黄いろくにごった水に横だおしになって、もまれています。ごんは川下の方へと、ぬかるみみちを歩いていきました。
    </p>
    <p>
      ふと見ると、川の中に人がいて、何かやっています。ごんは、見つからないように、そうっと草の深いところへ歩きよって、そこからじっとのぞいてみました。
    </p>
  </section>
</article>

<style>
  .tsukushi {
    font-family: "fot-tsukumin-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .tsukushi-old {
    font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 1.7;

    writing-mode: vertical-rl;
    text-orientation: upright;

    p {
      margin-block-end: 0em;
      text-align: justify;
    }
  }
  section {
    column-count: 2;
    column-count: 2;
    column-rule: solid 1px #ccc;
    column-gap: 2.5rem;
    width: calc(100vw - 4em - 2em);
  }

  .long {
    display: inline-block;
    scale: 0.5 2.4;
    padding: 0.4em 0;
  }
</style>
