---
const { className = "" } = Astro.props;
---

<div class={`safari-26 ${className}`}>
  <header>
    <h1>Safari 26</h1>
  </header>
  <main>
    <div class="content">
      <p>contents</p>
    </div>
  </main>
  <footer>
    <ul>
      <li>something</li>
      <li>something</li>
      <li>something</li>
      <li>something</li>
    </ul>
    <p>Copyright © 2025 Safari 26</p>
  </footer>
  <p class="bar"></p>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const body = document.body;
    // scroll
    body.addEventListener("scroll", () => {
      const bar = document.querySelector(".bar");
      bar.style.bottom = `translateY(${window.scrollY}px)`;
    });
  });
</script>

<style is:global>
  body {
    background-color: #b8b8b8;
  }
  .safari-26 {
    width: 100%;
    background-color: #8cc6e1;
  }
  header {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 1em 0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  main {
    width: 100%;
    height: 200vh;
    background-color: #e6d2d2;
    text-align: center;
  }
  footer {
    width: 100%;
    padding: 2em 1em;
    background-color: #eaff82;
  }
  .bar {
    display: none;
  }
  .safari-26-1 {
    main {
      padding-top: 5em;
    }
    footer {
      padding-bottom: env(safe-area-inset-bottom, 2em);
    }
  }
  .safari-26-2 {
    header {
      width: 98%;
      top: 1em;
      left: 1%;
      border-radius: 8px;
    }
    main {
      padding-top: 5em;
    }
    footer {
      padding-bottom: env(safe-area-inset-bottom, 2em);
      position: relative;
      overflow: hidden;
      height: 240px;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 5em;
        background-color: #eaff82;
        position: absolute;
        bottom: -5em;
        left: 0;
        z-index: 100;
        transform-origin: top left;
        scale: 1 3;
      }
    }
  }
  .safari-26-3 {
    position: relative;
    header {
      width: 98%;
      top: 1em;
      left: 1%;
      border-radius: 8px;
    }
    main {
      padding-top: 5em;
    }
    footer {
      padding-bottom: env(safe-area-inset-bottom, 2em);
      position: relative;
      overflow: hidden;
      height: 240px;
      &::after {
        display: none;
      }
    }
    .bar {
      display: block;
      width: 100%;
      height: 10em;
      background-color: #eaff82;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
      padding-bottom: env(safe-area-inset-bottom);
    }
    @keyframes scroll-down {
      0% {
        bottom: 0;
      }
      100% {
        bottom: calc(-1 * (env(safe-area-inset-bottom) + 10em));
      }
    }
  }
  body:has(.safari-26-2, .safari-26-3) {
    background: linear-gradient(
      to bottom,
      #b8b8b8 0%,
      #b8b8b8 98%,
      #eaff82 99%
    );
  }
</style>
