---
const { className = "" } = Astro.props;
---

<div class="safari-26 {className}">
  <header>
    <h1>Safari 26</h1>
  </header>
  <main>
    <div class="content">
      <p>contents</p>
    </div>
  </main>
  <footer>
    <ul>
      <li>something</li>
      <li>something</li>
      <li>something</li>
      <li>something</li>
    </ul>
    <p>Copyright © 2025 Safari 26</p>
  </footer>
</div>

<style>
  .safari-26 {
    width: 100%;
    background-color: #8cc6e1;
  }
  header {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 1em 0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  main {
    width: 100%;
    height: 200vh;
    background-color: #e6d2d2;
    text-align: center;
  }
  footer {
    width: 100%;
    padding: 2em 1em;
    background-color: #eaff82;
  }
  .safari-26-1 {
    footer {
      padding-bottom: env(safe-area-inset-bottom, 2em);
    }
  }
</style>