.register {
  --border-color: oklch(96.7% 0.001 286.375);
  --grid-num: 16;
  --grid-margin: 16px;
  --grid-gutter: clamp(4px, 2vw, 32px);

  font-family: Hiragino-sans, sans-serif;
  margin: 0 auto;
}

.container {
  max-width: none !important;
}

.register-grid-outer {
  display: grid;
  grid-template-columns: repeat(var(--grid-num), 1fr);
  gap: var(--grid-gutter);
  margin: 16px var(--grid-gutter);
}

.product-section {
  grid-column: 1 / span 10;
}

.order-section {
  grid-column: 12 / span 5;
}

.wfont-black {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.wfont-light {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-din {
  font-family: "din-1451-lt-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-signature {
  font-family: "lindsey-signature", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 16px;
}

.register_item {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.item_name {
  font-size: 16px;
}

.item_price {
  font-size: 14px;
}

.total {
  display: flex;
  gap: 1em;
  align-items: flex-end;
  justify-content: space-between;

  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}

.total_price {
  display: flex;
  gap: 1em;
  align-items: flex-end;
}

.total_sum {
  font-size: 36px;
}


.order-section {
  height: calc(100%);
  position: relative;
}

.order-button {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}

.selected-items {
  height: calc(100% - 16px - 50px);
  position: relative;
}