body {
  background-color: rgb(179, 179, 179);
}

.top179 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.top179_title {
  grid-column: 1 / -1;
  grid-row: 1 / 6;
  font-size: 179px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: right;
  sup {
    font-size: 0.5em;
    font-weight: 200;
    padding-left: 0.2em;
  }
}

.top179_nav {
  grid-column: 10 / -1;
  grid-row: 7 / 9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  a {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
  }
}

.top179_description {
  grid-column: 1 / 6;
  grid-row: 10 / span 6;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
  color: #fff;
  text-align: justify;
  font-feature-settings: "palt" 1;
}
