---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

import Layout from "../layouts/OneSheet.astro";
import SheetUnit from "../components/oneSheet/SheetUnit.astro";
import Navigation from "../components/oneSheet/Navigation.astro";

const posts = (await getCollection("oneSheet")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout isTop={true} title="一七九">
  <article class="book">
    <div class="book_inner" style={`--sheets: ${posts.length};`}>
      {posts.map((post) => <SheetUnit post={post} />)}
    </div>
  </article>
</Layout>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const book = document.querySelector(".book");
    const bookInner = document.querySelector(".book_inner");
    bookInner.addEventListener(
      "wheel",
      (e) => {
        if (Math.abs(e.deltaY) < Math.abs(e.deltaX)) return;

        const maxScrollLeft = book.scrollWidth - book.clientWidth;

        // スクロールの境界チェック
        const scrollLeftDelte = book.scrollLeft + e.deltaY;
        if (scrollLeftDelte < 0) return;
        const newScrollLeft =
          scrollLeftDelte > maxScrollLeft ? maxScrollLeft : scrollLeftDelte;

        e.preventDefault();
        book.scrollTo({
          left: newScrollLeft,
          behavior: "smooth",
        });
      },
      { passive: false },
    );
  });
</script>
