---
import BaseHead from "../components/BaseHead.astro";
import VT from "../components/VerticalUprightText.astro";
---

<html lang="ja">
  <head>
    <BaseHead title="179" description="179.jp is web design & engineer." />
  </head>
  <body>
    <main class="-g">
      <header class:list={["-g_u", "-g_head", "-fs_s"]}>
        <h1 class:list={["-gc_1-3"]}>179.jp</h1>
        <p class:list={["-gc_3-6"]}>
          Web Design & Engineering,<br />179cm tall
        </p>
        <p class:list={["-gc_6-8"]}>
          Live in Kyoto, Japan<br />with my wife, child and lovely cat
        </p>
        <p class:list={["-gc_10-14"]}>Love web, frontend, and photography</p>
        <nav class:list={["-gc_16-16"]}>
          <ul>
            <li><a href="/sand-box">About</a></li>
            <li><a href="/sand-box">Blog</a></li>
            <li><a href="/sand-box">Sandbox</a></li>
          </ul>
        </nav>
      </header>
      <div class:list={["-g_u"]}>
        <div class:list={["-gc_14-16", "-h_1", "-vt"]}>
          <p class:list={["-fs_xl"]}>一七九</p>
        </div>
        <div class:list={["-gc_1-10", "-h_3"]}>
          <p class:list={["-fs_full", "-ff-norman"]}>179</p>
        </div>
      </div>
    </main>
  </body>
</html>
