---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

import Layout from "../layouts/SimpleTop.astro";

---

<Layout isTop={true} title="179.jp">
  <main class="top179">
    <h1 class="top179_title">179<sup>jp</sup></h1>
    <nav class="top179_nav">
      <ul class="top179_nav_list">
        <li>
          <a href="//somrthing-about.jp/days/">bine(blog)</a>
        </li>
      </ul>
    </nav>
    <div class="top179_description">
      <p>179は、憧れつつも、ついに一度も180cmと言われず、身長が179cmであることに由来します。web のデザインとエンジニアリングを中心に、サイト制作、Shopifyのカスタマイズ、コンテンツ制作をしています。趣味で写真を撮り、ブログを書くことをライフワークにしています。
      </p>
    </div>
  </main>
</Layout>
