---
import SandBoxTemplate from "../layouts/SandBoxTemplate.astro";
import MathPracticeWrapper from "../components/MathPracticeWrapper.astro";
---

<SandBoxTemplate title="計算練習 - 179">
  <section class="sandboxWrap">
    <MathPracticeWrapper />
  </section>
</SandBoxTemplate>
