---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

import Layout from "../layouts/OneSheet.astro";
import SheetUnit from "../components/oneSheet/SheetUnit.astro";

---

<Layout isTop={true} title="一七九">
  <article class="profile">
    <div class="profile_inner">
    </div>
  </article>
</Layout>