---
import PageTemplate from "../layouts/AppTemplate.astro";
import Register from "../components/register/Register.svelte";

import "../styles/grid/index.css";
import "../styles/register.css";
---

<PageTemplate title="レジアプリ">
  <link rel="stylesheet" href="https://use.typekit.net/vju6jir.css" />
  <main class="register container">
    <Register client:load />
  </main>
</PageTemplate>
