---
import PageTemplate from '../layouts/PageTemplate.astro';
import Register from '../components/register/Register.svelte';
---

<PageTemplate title="レジアプリ">
  <main class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-8 text-center">レジアプリ</h1>
    <Register client:load />
  </main>
</PageTemplate>
