---
import PageTemplate from "../layouts/PageTemplate.astro";
import Register from "../components/register/Register.svelte";
---

<PageTemplate title="レジアプリ">
  <main class="container mx-auto py-8">
    <Register client:load />
  </main>
</PageTemplate>
