---
const scaleNum = 8;
const gridColumnArray = [...Array(scaleNum)].map((_, i) => i);

import "../styles/gridBlog/index.css";
---

<section class="-v">
  <div class="-g -head">
    <div class="-g_1_8 -title">
      <div class="-title_header">
        <ul class="-text-xs -header_label">
          <li><a href="/">179.jp</a></li>
          <li class="-long-body">-</li>
          <li><a href="/blog/">Photo Blog</a></li>
        </ul>
        <p class="-text-xs -title_label">in everyday life</p>
        <p class="-title_number f-norman">
          <span class="-text-xl">05</span>
          <span class="-text-s">2025</span>
        </p>
      </div>
      <p class="-text-s -title_label">グリッドの先にあるもの</p>
    </div>
    <div class="-g_5_8">
      <img src="/img/photos/photo/L1001466.jpg" />
    </div>
    <div class="-g_2_2-6 -text-xs">
      <p>
        写真における陰影（シャドウ）のは、単なる光の不在ではなく、画像に深みと立体感を与える重要な要素です。適切に活用された陰影は、写真に感情やストーリーを吹き込み、見る者の注意を引きつける力を持っています。
      </p>
    </div>
  </div>
  <div class="-g">
    <div class="-g_6 -fx_center">
      <div class="-g_4_6">
        <img src="/img/photos/photo/L1005062.jpg" />
      </div>
    </div>
  </div>
  <div class="-g_cover">
    <img src="/img/photos/photo/L1014780.jpg" />
  </div>
</section>
