---
import MultiplicationApp from './multiplication/MultiplicationApp.svelte';
import '../styles/multiplication.css';
---

<div class="multiplication-wrapper">
  <MultiplicationApp client:load />
</div>

<style>
  .multiplication-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
</style>
