:root {
  --grid-num: 16;
  --grid-margin: 48px;
  --grid-wide: calc(var(--grid-num) - 2);
  --grid-full: var(--grid-num);
  --grid-gutter: clamp(4px, 0.8vw, 16px);
  --grid-column-w: calc((100vw - (var(--grid-margin) * 2)) / var(--grid-num));
}

@media (max-width: 768px) {
  :root {
    --grid-num: 8;
    --grid-margin: 16px;
  }
}

.-g {
  width: 100%;
  min-height: 100svh;
  overflow-x: hidden;
}

.-g.underground {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  pointer-events: none;
}

.-g .-g_head {
  height: calc(var(--grid-column-w) * 0.5 + var(--grid-gutter) * (0));
}

.-g .-g_u {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-num), 1fr);
  gap: var(--grid-gutter);
  padding: 0 var(--grid-margin);
  position: relative;
}

@media (max-width: 768px) {
  .-g .-g_u {
    gap: calc(var(--grid-column-w) * 1 + var(--grid-gutter) * (1)) var(--grid-gutter);
  }
}

.-g .-g_margin-heading {
  position: absolute;
  top: 0;
  left: 1.5em;
  display: inline-block;
  text-align: center;
  rotate: 90deg;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  translate: translateX(100%);
}

.-g .-g_scale {
  height: 1000vh;
}

.-g .-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--grid-gutter);
}

.-g .-img-fit {
  width: 100%;
}

.-g .-img-fit img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  .-g .-c-vt_scr {
    padding-right: calc(var(--grid-column-w) * 1 + var(--grid-gutter) * (1));
    grid-column: span var(--grid-num)/span var(--grid-num);
    padding-bottom: calc(var(--grid-column-w) * 0.5 + var(--grid-gutter) * (0));
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.-g .-c-vt_scr * + * {
  margin-right: 1rem;
}

.-g .-c-vt_scr .-c-vt_inner {
  padding-left: calc(var(--grid-column-w) * 1 + var(--grid-gutter) * (1));
}

.forPc {
  display: block;
}

@media (max-width: 768px) {
  .forPc {
    display: none;
  }
}

.forMobile {
  display: none;
}

@media (max-width: 768px) {
  .forMobile {
    display: block;
  }
}

.-c_1 {
  grid-column: span 1 / span 1;
}

.-c_1-1 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_1-1 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_1-2 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_1-2 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_1-3 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_1-3 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_1-4 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_1-4 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_1-5 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_1-5 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_1-6 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_1-6 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_1-7 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_1-7 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_1-8 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_1-8 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_1-9 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_1-9 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
}

.-c_1-10 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 10;
      grid-column-start: 10;
}

@media (max-width: 768px) {
  .-c_1-10 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
}

.-c_1-11 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 11;
      grid-column-start: 11;
}

@media (max-width: 768px) {
  .-c_1-11 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
}

.-c_1-12 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 12;
      grid-column-start: 12;
}

@media (max-width: 768px) {
  .-c_1-12 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
}

.-c_1-13 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 13;
      grid-column-start: 13;
}

@media (max-width: 768px) {
  .-c_1-13 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 13;
        grid-column-start: 13;
  }
}

.-c_1-14 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 14;
      grid-column-start: 14;
}

@media (max-width: 768px) {
  .-c_1-14 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_1-15 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 15;
      grid-column-start: 15;
}

@media (max-width: 768px) {
  .-c_1-15 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_1-16 {
  grid-column: span 1 / span 1;
  -ms-grid-column: 16;
      grid-column-start: 16;
}

@media (max-width: 768px) {
  .-c_1-16 {
    grid-column: span 1 / span 1;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_2 {
  grid-column: span 2 / span 2;
}

.-c_2-1 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_2-1 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_2-2 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_2-2 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_2-3 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_2-3 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_2-4 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_2-4 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_2-5 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_2-5 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_2-6 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_2-6 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_2-7 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_2-7 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_2-8 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_2-8 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_2-9 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_2-9 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
}

.-c_2-10 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 10;
      grid-column-start: 10;
}

@media (max-width: 768px) {
  .-c_2-10 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
}

.-c_2-11 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 11;
      grid-column-start: 11;
}

@media (max-width: 768px) {
  .-c_2-11 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
}

.-c_2-12 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 12;
      grid-column-start: 12;
}

@media (max-width: 768px) {
  .-c_2-12 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
}

.-c_2-13 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 13;
      grid-column-start: 13;
}

@media (max-width: 768px) {
  .-c_2-13 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_2-14 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 14;
      grid-column-start: 14;
}

@media (max-width: 768px) {
  .-c_2-14 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_2-15 {
  grid-column: span 2 / span 2;
  -ms-grid-column: 15;
      grid-column-start: 15;
}

@media (max-width: 768px) {
  .-c_2-15 {
    grid-column: span 3 / span 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_3 {
  grid-column: span 3 / span 3;
}

.-c_3-1 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_3-1 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_3-2 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_3-2 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_3-3 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_3-3 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_3-4 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_3-4 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_3-5 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_3-5 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_3-6 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_3-6 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_3-7 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_3-7 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_3-8 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_3-8 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_3-9 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_3-9 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
}

.-c_3-10 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 10;
      grid-column-start: 10;
}

@media (max-width: 768px) {
  .-c_3-10 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
}

.-c_3-11 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 11;
      grid-column-start: 11;
}

@media (max-width: 768px) {
  .-c_3-11 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
}

.-c_3-12 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 12;
      grid-column-start: 12;
}

@media (max-width: 768px) {
  .-c_3-12 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_3-13 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 13;
      grid-column-start: 13;
}

@media (max-width: 768px) {
  .-c_3-13 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_3-14 {
  grid-column: span 3 / span 3;
  -ms-grid-column: 14;
      grid-column-start: 14;
}

@media (max-width: 768px) {
  .-c_3-14 {
    grid-column: span 3.5 / span 3.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_4 {
  grid-column: span 4 / span 4;
}

.-c_4-1 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_4-1 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_4-2 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_4-2 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_4-3 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_4-3 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_4-4 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_4-4 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_4-5 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_4-5 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_4-6 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_4-6 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_4-7 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_4-7 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_4-8 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_4-8 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_4-9 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_4-9 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
}

.-c_4-10 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 10;
      grid-column-start: 10;
}

@media (max-width: 768px) {
  .-c_4-10 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
}

.-c_4-11 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 11;
      grid-column-start: 11;
}

@media (max-width: 768px) {
  .-c_4-11 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_4-12 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 12;
      grid-column-start: 12;
}

@media (max-width: 768px) {
  .-c_4-12 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_4-13 {
  grid-column: span 4 / span 4;
  -ms-grid-column: 13;
      grid-column-start: 13;
}

@media (max-width: 768px) {
  .-c_4-13 {
    grid-column: span 4 / span 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_5 {
  grid-column: span 5 / span 5;
}

.-c_5-1 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_5-1 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_5-2 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_5-2 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_5-3 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_5-3 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_5-4 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_5-4 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_5-5 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_5-5 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_5-6 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_5-6 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_5-7 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_5-7 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_5-8 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_5-8 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_5-9 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_5-9 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
}

.-c_5-10 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 10;
      grid-column-start: 10;
}

@media (max-width: 768px) {
  .-c_5-10 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_5-11 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 11;
      grid-column-start: 11;
}

@media (max-width: 768px) {
  .-c_5-11 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_5-12 {
  grid-column: span 5 / span 5;
  -ms-grid-column: 12;
      grid-column-start: 12;
}

@media (max-width: 768px) {
  .-c_5-12 {
    grid-column: span 4.5 / span 4.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_6 {
  grid-column: span 6 / span 6;
}

.-c_6-1 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_6-1 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_6-2 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_6-2 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_6-3 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_6-3 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_6-4 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_6-4 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_6-5 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_6-5 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_6-6 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_6-6 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_6-7 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_6-7 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_6-8 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_6-8 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_6-9 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_6-9 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_6-10 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 10;
      grid-column-start: 10;
}

@media (max-width: 768px) {
  .-c_6-10 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_6-11 {
  grid-column: span 6 / span 6;
  -ms-grid-column: 11;
      grid-column-start: 11;
}

@media (max-width: 768px) {
  .-c_6-11 {
    grid-column: span 5 / span 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_7 {
  grid-column: span 7 / span 7;
}

.-c_7-1 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_7-1 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_7-2 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_7-2 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_7-3 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_7-3 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_7-4 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_7-4 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_7-5 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_7-5 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_7-6 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_7-6 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_7-7 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_7-7 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_7-8 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_7-8 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_7-9 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_7-9 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_7-10 {
  grid-column: span 7 / span 7;
  -ms-grid-column: 10;
      grid-column-start: 10;
}

@media (max-width: 768px) {
  .-c_7-10 {
    grid-column: span 5.5 / span 5.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_8 {
  grid-column: span 8 / span 8;
}

.-c_8-1 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_8-1 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_8-2 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_8-2 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_8-3 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_8-3 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_8-4 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_8-4 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_8-5 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_8-5 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_8-6 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_8-6 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_8-7 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_8-7 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_8-8 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_8-8 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_8-9 {
  grid-column: span 8 / span 8;
  -ms-grid-column: 9;
      grid-column-start: 9;
}

@media (max-width: 768px) {
  .-c_8-9 {
    grid-column: span 6 / span 6;
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
}

.-c_9 {
  grid-column: span 9 / span 9;
}

.-c_9-1 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_9-1 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_9-2 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_9-2 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_9-3 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_9-3 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_9-4 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_9-4 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_9-5 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_9-5 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_9-6 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_9-6 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_9-7 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_9-7 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_9-8 {
  grid-column: span 9 / span 9;
  -ms-grid-column: 8;
      grid-column-start: 8;
}

@media (max-width: 768px) {
  .-c_9-8 {
    grid-column: span 6.5 / span 6.5;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}

.-c_10 {
  grid-column: span 10 / span 10;
}

.-c_10-1 {
  grid-column: span 10 / span 10;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_10-1 {
    grid-column: span 7 / span 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_10-2 {
  grid-column: span 10 / span 10;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_10-2 {
    grid-column: span 7 / span 7;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_10-3 {
  grid-column: span 10 / span 10;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_10-3 {
    grid-column: span 7 / span 7;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_10-4 {
  grid-column: span 10 / span 10;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_10-4 {
    grid-column: span 7 / span 7;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_10-5 {
  grid-column: span 10 / span 10;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_10-5 {
    grid-column: span 7 / span 7;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_10-6 {
  grid-column: span 10 / span 10;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_10-6 {
    grid-column: span 7 / span 7;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_10-7 {
  grid-column: span 10 / span 10;
  -ms-grid-column: 7;
      grid-column-start: 7;
}

@media (max-width: 768px) {
  .-c_10-7 {
    grid-column: span 7 / span 7;
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

.-c_11 {
  grid-column: span 11 / span 11;
}

.-c_11-1 {
  grid-column: span 11 / span 11;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_11-1 {
    grid-column: span 9.5 / span 9.5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_11-2 {
  grid-column: span 11 / span 11;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_11-2 {
    grid-column: span 9.5 / span 9.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_11-3 {
  grid-column: span 11 / span 11;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_11-3 {
    grid-column: span 9.5 / span 9.5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_11-4 {
  grid-column: span 11 / span 11;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_11-4 {
    grid-column: span 9.5 / span 9.5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_11-5 {
  grid-column: span 11 / span 11;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_11-5 {
    grid-column: span 9.5 / span 9.5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_11-6 {
  grid-column: span 11 / span 11;
  -ms-grid-column: 6;
      grid-column-start: 6;
}

@media (max-width: 768px) {
  .-c_11-6 {
    grid-column: span 9.5 / span 9.5;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
}

.-c_12 {
  grid-column: span 12 / span 12;
}

.-c_12-1 {
  grid-column: span 12 / span 12;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_12-1 {
    grid-column: span 10 / span 10;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_12-2 {
  grid-column: span 12 / span 12;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_12-2 {
    grid-column: span 10 / span 10;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_12-3 {
  grid-column: span 12 / span 12;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_12-3 {
    grid-column: span 10 / span 10;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_12-4 {
  grid-column: span 12 / span 12;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_12-4 {
    grid-column: span 10 / span 10;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_12-5 {
  grid-column: span 12 / span 12;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

@media (max-width: 768px) {
  .-c_12-5 {
    grid-column: span 10 / span 10;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

.-c_13 {
  grid-column: span 13 / span 13;
}

.-c_13-1 {
  grid-column: span 13 / span 13;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_13-1 {
    grid-column: span 10.5 / span 10.5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.-c_13-2 {
  grid-column: span 13 / span 13;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_13-2 {
    grid-column: span 10.5 / span 10.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_13-3 {
  grid-column: span 13 / span 13;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_13-3 {
    grid-column: span 10.5 / span 10.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_13-4 {
  grid-column: span 13 / span 13;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

@media (max-width: 768px) {
  .-c_13-4 {
    grid-column: span 10.5 / span 10.5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.-c_14 {
  grid-column: span 14 / span 14;
}

.-c_14-1 {
  grid-column: span 14 / span 14;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_14-1 {
    grid-column: span 11 / span 11;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_14-2 {
  grid-column: span 14 / span 14;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_14-2 {
    grid-column: span 11 / span 11;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_14-3 {
  grid-column: span 14 / span 14;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

@media (max-width: 768px) {
  .-c_14-3 {
    grid-column: span 11 / span 11;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_15 {
  grid-column: span 15 / span 15;
}

.-c_15-1 {
  grid-column: span 15 / span 15;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_15-1 {
    grid-column: span 11.5 / span 11.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_15-2 {
  grid-column: span 15 / span 15;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 768px) {
  .-c_15-2 {
    grid-column: span 11.5 / span 11.5;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_16 {
  grid-column: span 16 / span 16;
}

.-c_16-1 {
  grid-column: span 16 / span 16;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media (max-width: 768px) {
  .-c_16-1 {
    grid-column: span 12 / span 12;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.-c_full {
  grid-column: span var(--grid-num)/span var(--grid-num);
}

.-w_1 {
  width: calc(var(--grid-column-w) * 1 + var(--grid-gutter) * (1 - 1));
}

.-w_2 {
  width: calc(var(--grid-column-w) * 2 + var(--grid-gutter) * (2 - 1));
}

.-w_3 {
  width: calc(var(--grid-column-w) * 3 + var(--grid-gutter) * (3 - 1));
}

.-w_4 {
  width: calc(var(--grid-column-w) * 4 + var(--grid-gutter) * (4 - 1));
}

.-w_5 {
  width: calc(var(--grid-column-w) * 5 + var(--grid-gutter) * (5 - 1));
}

.-w_6 {
  width: calc(var(--grid-column-w) * 6 + var(--grid-gutter) * (6 - 1));
}

.-w_7 {
  width: calc(var(--grid-column-w) * 7 + var(--grid-gutter) * (7 - 1));
}

.-w_8 {
  width: calc(var(--grid-column-w) * 8 + var(--grid-gutter) * (8 - 1));
}

.-w_9 {
  width: calc(var(--grid-column-w) * 9 + var(--grid-gutter) * (9 - 1));
}

.-w_10 {
  width: calc(var(--grid-column-w) * 10 + var(--grid-gutter) * (10 - 1));
}

.-w_11 {
  width: calc(var(--grid-column-w) * 11 + var(--grid-gutter) * (11 - 1));
}

.-w_12 {
  width: calc(var(--grid-column-w) * 12 + var(--grid-gutter) * (12 - 1));
}

.-w_13 {
  width: calc(var(--grid-column-w) * 13 + var(--grid-gutter) * (13 - 1));
}

.-w_14 {
  width: calc(var(--grid-column-w) * 14 + var(--grid-gutter) * (14 - 1));
}

.-w_15 {
  width: calc(var(--grid-column-w) * 15 + var(--grid-gutter) * (15 - 1));
}

.-w_16 {
  width: calc(var(--grid-column-w) * 16 + var(--grid-gutter) * (16 - 1));
}

.-h_1 {
  height: calc(var(--grid-column-w) * 1 + var(--grid-gutter) * (1 - 1));
}

@media (max-width: 768px) {
  .-h_1 {
    height: calc(var(--grid-column-w) * 1 + var(--grid-gutter) * (1 - 1));
  }
  .-h_1.-c-vt_scr {
    height: calc(var(--grid-column-w) * (1 + 1) + var(--grid-gutter) * (1 - 1 + 1));
  }
}

.-h_2 {
  height: calc(var(--grid-column-w) * 2 + var(--grid-gutter) * (2 - 1));
}

@media (max-width: 768px) {
  .-h_2 {
    height: calc(var(--grid-column-w) * 3 + var(--grid-gutter) * (3 - 1));
  }
  .-h_2.-c-vt_scr {
    height: calc(var(--grid-column-w) * (3 + 1) + var(--grid-gutter) * (3 - 1 + 1));
  }
}

.-h_3 {
  height: calc(var(--grid-column-w) * 3 + var(--grid-gutter) * (3 - 1));
}

@media (max-width: 768px) {
  .-h_3 {
    height: calc(var(--grid-column-w) * 3.5 + var(--grid-gutter) * (3.5 - 1));
  }
  .-h_3.-c-vt_scr {
    height: calc(var(--grid-column-w) * (3.5 + 1) + var(--grid-gutter) * (3.5 - 1 + 1));
  }
}

.-h_4 {
  height: calc(var(--grid-column-w) * 4 + var(--grid-gutter) * (4 - 1));
}

@media (max-width: 768px) {
  .-h_4 {
    height: calc(var(--grid-column-w) * 4 + var(--grid-gutter) * (4 - 1));
  }
  .-h_4.-c-vt_scr {
    height: calc(var(--grid-column-w) * (4 + 1) + var(--grid-gutter) * (4 - 1 + 1));
  }
}

.-h_5 {
  height: calc(var(--grid-column-w) * 5 + var(--grid-gutter) * (5 - 1));
}

@media (max-width: 768px) {
  .-h_5 {
    height: calc(var(--grid-column-w) * 4.5 + var(--grid-gutter) * (4.5 - 1));
  }
  .-h_5.-c-vt_scr {
    height: calc(var(--grid-column-w) * (4.5 + 1) + var(--grid-gutter) * (4.5 - 1 + 1));
  }
}

.-h_6 {
  height: calc(var(--grid-column-w) * 6 + var(--grid-gutter) * (6 - 1));
}

@media (max-width: 768px) {
  .-h_6 {
    height: calc(var(--grid-column-w) * 5 + var(--grid-gutter) * (5 - 1));
  }
  .-h_6.-c-vt_scr {
    height: calc(var(--grid-column-w) * (5 + 1) + var(--grid-gutter) * (5 - 1 + 1));
  }
}

.-h_7 {
  height: calc(var(--grid-column-w) * 7 + var(--grid-gutter) * (7 - 1));
}

@media (max-width: 768px) {
  .-h_7 {
    height: calc(var(--grid-column-w) * 5.5 + var(--grid-gutter) * (5.5 - 1));
  }
  .-h_7.-c-vt_scr {
    height: calc(var(--grid-column-w) * (5.5 + 1) + var(--grid-gutter) * (5.5 - 1 + 1));
  }
}

.-h_8 {
  height: calc(var(--grid-column-w) * 8 + var(--grid-gutter) * (8 - 1));
}

@media (max-width: 768px) {
  .-h_8 {
    height: calc(var(--grid-column-w) * 6 + var(--grid-gutter) * (6 - 1));
  }
  .-h_8.-c-vt_scr {
    height: calc(var(--grid-column-w) * (6 + 1) + var(--grid-gutter) * (6 - 1 + 1));
  }
}

.-h_9 {
  height: calc(var(--grid-column-w) * 9 + var(--grid-gutter) * (9 - 1));
}

@media (max-width: 768px) {
  .-h_9 {
    height: calc(var(--grid-column-w) * 6.5 + var(--grid-gutter) * (6.5 - 1));
  }
  .-h_9.-c-vt_scr {
    height: calc(var(--grid-column-w) * (6.5 + 1) + var(--grid-gutter) * (6.5 - 1 + 1));
  }
}

.-h_10 {
  height: calc(var(--grid-column-w) * 10 + var(--grid-gutter) * (10 - 1));
}

@media (max-width: 768px) {
  .-h_10 {
    height: calc(var(--grid-column-w) * 7 + var(--grid-gutter) * (7 - 1));
  }
  .-h_10.-c-vt_scr {
    height: calc(var(--grid-column-w) * (7 + 1) + var(--grid-gutter) * (7 - 1 + 1));
  }
}

.-h_11 {
  height: calc(var(--grid-column-w) * 11 + var(--grid-gutter) * (11 - 1));
}

@media (max-width: 768px) {
  .-h_11 {
    height: calc(var(--grid-column-w) * 9.5 + var(--grid-gutter) * (9.5 - 1));
  }
  .-h_11.-c-vt_scr {
    height: calc(var(--grid-column-w) * (9.5 + 1) + var(--grid-gutter) * (9.5 - 1 + 1));
  }
}

.-h_12 {
  height: calc(var(--grid-column-w) * 12 + var(--grid-gutter) * (12 - 1));
}

@media (max-width: 768px) {
  .-h_12 {
    height: calc(var(--grid-column-w) * 10 + var(--grid-gutter) * (10 - 1));
  }
  .-h_12.-c-vt_scr {
    height: calc(var(--grid-column-w) * (10 + 1) + var(--grid-gutter) * (10 - 1 + 1));
  }
}

.-h_13 {
  height: calc(var(--grid-column-w) * 13 + var(--grid-gutter) * (13 - 1));
}

@media (max-width: 768px) {
  .-h_13 {
    height: calc(var(--grid-column-w) * 10.5 + var(--grid-gutter) * (10.5 - 1));
  }
  .-h_13.-c-vt_scr {
    height: calc(var(--grid-column-w) * (10.5 + 1) + var(--grid-gutter) * (10.5 - 1 + 1));
  }
}

.-h_14 {
  height: calc(var(--grid-column-w) * 14 + var(--grid-gutter) * (14 - 1));
}

@media (max-width: 768px) {
  .-h_14 {
    height: calc(var(--grid-column-w) * 11 + var(--grid-gutter) * (11 - 1));
  }
  .-h_14.-c-vt_scr {
    height: calc(var(--grid-column-w) * (11 + 1) + var(--grid-gutter) * (11 - 1 + 1));
  }
}

.-h_15 {
  height: calc(var(--grid-column-w) * 15 + var(--grid-gutter) * (15 - 1));
}

@media (max-width: 768px) {
  .-h_15 {
    height: calc(var(--grid-column-w) * 11.5 + var(--grid-gutter) * (11.5 - 1));
  }
  .-h_15.-c-vt_scr {
    height: calc(var(--grid-column-w) * (11.5 + 1) + var(--grid-gutter) * (11.5 - 1 + 1));
  }
}

.-h_16 {
  height: calc(var(--grid-column-w) * 16 + var(--grid-gutter) * (16 - 1));
}

@media (max-width: 768px) {
  .-h_16 {
    height: calc(var(--grid-column-w) * 12 + var(--grid-gutter) * (12 - 1));
  }
  .-h_16.-c-vt_scr {
    height: calc(var(--grid-column-w) * (12 + 1) + var(--grid-gutter) * (12 - 1 + 1));
  }
}

.-h_17 {
  height: calc(var(--grid-column-w) * 17 + var(--grid-gutter) * (17 - 1));
}

@media (max-width: 768px) {
  .-h_17 {
    height: calc(var(--grid-column-w) * 12.5 + var(--grid-gutter) * (12.5 - 1));
  }
  .-h_17.-c-vt_scr {
    height: calc(var(--grid-column-w) * (12.5 + 1) + var(--grid-gutter) * (12.5 - 1 + 1));
  }
}

.-h_18 {
  height: calc(var(--grid-column-w) * 18 + var(--grid-gutter) * (18 - 1));
}

@media (max-width: 768px) {
  .-h_18 {
    height: calc(var(--grid-column-w) * 13 + var(--grid-gutter) * (13 - 1));
  }
  .-h_18.-c-vt_scr {
    height: calc(var(--grid-column-w) * (13 + 1) + var(--grid-gutter) * (13 - 1 + 1));
  }
}

.-h_19 {
  height: calc(var(--grid-column-w) * 19 + var(--grid-gutter) * (19 - 1));
}

@media (max-width: 768px) {
  .-h_19 {
    height: calc(var(--grid-column-w) * 13.5 + var(--grid-gutter) * (13.5 - 1));
  }
  .-h_19.-c-vt_scr {
    height: calc(var(--grid-column-w) * (13.5 + 1) + var(--grid-gutter) * (13.5 - 1 + 1));
  }
}

.-h_20 {
  height: calc(var(--grid-column-w) * 20 + var(--grid-gutter) * (20 - 1));
}

@media (max-width: 768px) {
  .-h_20 {
    height: calc(var(--grid-column-w) * 14 + var(--grid-gutter) * (14 - 1));
  }
  .-h_20.-c-vt_scr {
    height: calc(var(--grid-column-w) * (14 + 1) + var(--grid-gutter) * (14 - 1 + 1));
  }
}

.-_mt_1 {
  margin-top: calc(var(--grid-column-w) * 1 + var(--grid-gutter) * (1));
}

.-_mt_2 {
  margin-top: calc(var(--grid-column-w) * 2 + var(--grid-gutter) * (2));
}

.-_mt_3 {
  margin-top: calc(var(--grid-column-w) * 3 + var(--grid-gutter) * (3));
}

.-_mt_4 {
  margin-top: calc(var(--grid-column-w) * 4 + var(--grid-gutter) * (4));
}

.-_mt_5 {
  margin-top: calc(var(--grid-column-w) * 5 + var(--grid-gutter) * (5));
}

.-_mt_6 {
  margin-top: calc(var(--grid-column-w) * 6 + var(--grid-gutter) * (6));
}

.-_mt_7 {
  margin-top: calc(var(--grid-column-w) * 7 + var(--grid-gutter) * (7));
}

.-_mt_8 {
  margin-top: calc(var(--grid-column-w) * 8 + var(--grid-gutter) * (8));
}

.-_mt_9 {
  margin-top: calc(var(--grid-column-w) * 9 + var(--grid-gutter) * (9));
}

.-_mt_10 {
  margin-top: calc(var(--grid-column-w) * 10 + var(--grid-gutter) * (10));
}

:root {
  --grid-base-w:
    16 * var(--grid-column-w) + 15 * var(--grid-gutter);
}

.-fs {
  font-size: .875rem;
}

.-fs_xs {
  font-size: .5rem;
}

.-fs_s {
  font-size: .75rem;
}

.-fs_m {
  font-size: 1rem;
}

.-fs_l {
  font-size: 1.5rem;
}

.-fs_xl {
  font-size: 1.875rem;
}

.-fs_xxl {
  font-size: 3em;
}

.-fs_huge {
  font-size: 10em;
}

.-fcs {
  container-type: inline-size;
  font-size: 1.2cqw;
  line-height: 1.75;
  text-align: justify;
}

@media (max-width: 768px) {
  .-fcs {
    font-size: 2.6cqw;
  }
}

.-fcs_xs, .-fcs_s, .-fcs_m, .-fcs_l, .-fcs_xl {
  container-type: inline-size;
  text-align: justify;
}

.-fcs_xs P, .-fcs_s P, .-fcs_m P, .-fcs_l P, .-fcs_xl P {
  hanging-punctuation: allow-end;
  text-align: justify;
}

.-fcs_xs {
  font-size: 0.6cqw;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .-fcs_xs {
    font-size: 1.8cqw;
  }
}

.-fcs_s {
  font-size: 0.8cqw;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .-fcs_s {
    font-size: 2cqw;
  }
}

.-fcs_m {
  font-size: 1.6cqw;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .-fcs_m {
    font-size: 3cqw;
  }
}

.-fcs_l {
  font-size: 1.5em;
}

.-fcs_xl {
  font-size: 1.875em;
}

.-fcs p {
  hanging-punctuation: allow-end;
  text-align: justify;
}

.-ff-haas-black {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.-vt {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-font-feature-settings: "vpal";
          font-feature-settings: "vpal";
}

.-g_uprightText {
  font-style: normal;
  text-combine-upright: all;
  -webkit-text-combine: all;
}

.-g_scaleRow {
  height: 100%;
  container-type: inline-size;
  font-size: 0.5cqw;
  grid-column: span var(--grid-num)/span var(--grid-num);
  grid-row: span 1 / span 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(109, 253, 253, 0.1);
}

.-g_scaleRow::first-child {
  border-top: none;
}

.-g_scaleColumn {
  height: 100%;
  container-type: inline-size;
  font-size: 0.5cqw;
  grid-column: span 1 / span 1;
  grid-row: span var(--grid-num)/span var(--grid-num);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(109, 253, 253, 0.1);
}

.-g_scaleColumn::first-child {
  border-left: none;
}

.-gRow {
  grid-auto-rows: calc(var(--grid-column-w) + 20px);
}
/*# sourceMappingURL=index.css.map */