---
const { month, year } = Astro.props;
---

<div class="-title_header">
  <ul class="-text-s -header_label">
    <li><a href="/">179.jp</a></li>
    <li class="-long-body">-</li>
    <li><a href="/blog/">Photo Blog</a></li>
  </ul>
  <p class="-text-s -title_label">in everyday life</p>
  <p class="-title_number f-norman">
    <span class="-text-xl">{month}</span>
    <span class="-text-s">{year}</span>
  </p>
</div>
