---
import BaseHead from "../components/BaseHead.astro";

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description="サンプル" />
    <link rel="manifest" href="/appManifest.json" />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
