---
import BaseHead from "../components/BaseHead.astro";

const { title } = Astro.props;
import "../styles/gridBlog/index.css";
---

<html lang="ja">
  <head>
    <BaseHead title={title} description="サンプル" />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
