---
import BaseHead from "../components/BaseHead.astro";

const { title } = Astro.props;
import "../styles/gridBlog/index.css";
---

<html lang="ja">
  <head>
    <BaseHead title={title} description="サンプル" />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        window.addEventListener(
          "wheel",
          (e: WheelEvent) => {
            if (Math.abs(e.deltaY) < Math.abs(e.deltaX)) return;

            const maxScrollLeft =
              document.documentElement.scrollWidth - window.innerWidth;

            // スクロールの境界チェック
            const scrollLeftDelte = window.scrollX - e.deltaY;
            if (scrollLeftDelte < 0) return;
            const newScrollLeft =
              scrollLeftDelte > maxScrollLeft ? maxScrollLeft : scrollLeftDelte;

            e.preventDefault();
            window.scrollTo({
              left: newScrollLeft,
              behavior: "smooth",
            });
          },
          { passive: false },
        );
      });
    </script>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
