---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/oneSheet/Logo.astro";
import Nav from "../components/oneSheet/Nav.astro";
import "../styles/oneSheet/index.css";

const { isTop = false, title = "", slug = "" } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title="179" description="179.jp is web design & engineer." />
  </head>
  <body>
    <main>
      <!-- <Logo title={title} /> -->
      <slot />
    </main>
  </body>
</html>
