---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"sand-box">["data"];

const {
  slug,
  title,
  pubDate,
  updatedDate,
  heroImage,
  backgroundColor = "#FFFFFF",
} = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description="サンプル" />
    <meta name="theme-color" content={backgroundColor} />
  </head>

  <body>
    <main>
      <article class="phageWrapper">
        <div class="blogWrapper">
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
