---
import BaseHead from "../components/BaseHead.astro";
import "../styles/simpleTop.css";

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description="サンプル" />
  </head>

  <body>
    <slot />
  </body>
</html>
